$cBlue: #438DED;
$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}

@mixin shadowsborderes{
    -webkit-box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            -moz-box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            --box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
}

.clgreen{
  text-transform: capitalize;
  border-radius: 50px!important;
  --border-radius: 50px!important;
  @include shadowsborderes;
  background: $cGreen;
  --background: $cGreen;
  &:hover{
      background: $cGreen;
      --background: $cGreen;
  }
}

ion-header{
    background:$cBlue!important;
    --background:$cBlue!important;
    ion-toolbar{
        background:$cBlue!important;
        --background:$cBlue!important;
    }
    ion-buttons{
      color: $cWhite;
    }
    ion-title{
      color: $cWhite;
      font-size: 18px;
      padding: 0;
    }
}

.clblue{
  text-transform: capitalize;
  border-radius: 50px!important;
  --border-radius: 50px!important;
  @include shadowsborderes;
  background: $cBlue;
  --background: $cBlue;
  -webkit-box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  -moz-box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  --box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  width: 125px;
    height: 30px;
    text-transform: uppercase;
    color: rgba(255,255,255,.75);
  &:hover{
      background: $cBlue;
      --background: $cBlue;
  }
}

.itemlin{
  border: 0!important;
}

.remove_inner_bottom{
  --inner-border-width: 0; // this removes the inner border width
}