<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="event"></ion-back-button></ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button color="cgreen" [routerLink]="['/nsala']">Nuevo sala</ion-button>
          </ion-col>
        </ion-row>    
        <ion-row>
          <ion-col>
            <table>
              <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Aforo</th>
                <th>Aforo superado</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
                <td>Trek</td>
              </tr>
              <tr>
                <td>The</td>
                <td>Tick</td>
                <td>Crimefighter Sorta</td>
                <td>Blue</td>
                <td>Wars</td>
              </tr>
              <tr>
                <td>Jokey</td>
                <td>Smurf</td>
                <td>Giving Exploding Presents</td>
                <td>White</td>
                <td>Trek</td>
              </tr>
              <tr>
                <td>Cindy</td>
                <td>Beyler</td>
                <td>Sales Representative</td>
                <td>Red</td>
                <td>Wars</td>
              </tr>
              <tr>
                <td>Captain</td>
                <td>Cool</td>
                <td>Tree Crusher</td>
                <td>Blue</td>
                <td>Wars</td>
              </tr>
              </tbody>
            </table>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
