$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}

.mainSlide, .mainSlide ion-slide {
    width: 100vw;
    height: 100vh;
    background: url("/assets/bg-cpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //position: absolute;
    //top: 0;
    //bottom:0;
    //left: 0;
    //right: 0;
    //display: flex;
    justify-content: center;
}

.logotype {
    width: 150px;
    margin-bottom: 40px;
    margin-top: -40px;
}

.icologin{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.btn{
    width: 100%;
}

.btn-verde{
    color: $cWhite;
}

ion-item{
    border-bottom: 1px solid rgba($cBlack, .4);
}
ion-input{
    text-transform: capitalize;
    color: $cGreen;
    
}

ion-button{
    text-transform: capitalize;
}