$cBlue: #438DED;

$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}


.image-slide {
    width: 100% !important;
    height: 250px;

    // background-color: red;

    /* Full height */
    // height: 100%; 

    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}