<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="event"></ion-back-button></ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button color="cgreen" [routerLink]="['/nasistente']">Nuevo asistente</ion-button>
          <ion-button [routerLink]="['/masistentes']">Registrar masivo</ion-button>
          <ion-button [routerLink]="['/scancodigo']"><ion-icon slot="start" name="qr-scanner"></ion-icon>Escanear</ion-button>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        <table>
          <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>AP. Paterno</th>
            <th>AP. Materno</th>
            <th>Empresa</th>
            <th>DNI</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>Cancelado</th>
            <th>Confirmó</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let asistente of asistentes">
            <td>{{asistente.codigo}}</td>
            <td>{{asistente.name}}</td>
            <td>{{asistente.appaterno}}</td>
            <td>{{asistente.apmaterno}}</td>
            <td>{{asistente.empresa}}</td>
            <td>{{asistente.dni}}</td>
            <td>{{asistente.celular}}</td>
            <td>{{asistente.email}}</td>
            <td><ion-toggle color="cgreen"></ion-toggle></td>
            <td><ion-toggle color="cgreen"></ion-toggle></td>
          </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
